<!doctype html>
<html ng-app="Zipcar">
<head>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<link href="css/bootstrap.min.css" rel="stylesheet"></link>

	<script type="text/javascript" src="js/jquery-1.9.0.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
</head>
<body>

	<div class="well">Hello</div>

	<div ng-controller="NavCtrl" class="well">
		
		Slide: {{slide}}
		<br/>
		<div class="well" ng-show="slide == 1">
			1<br/>
			<button class="btn pull-right" ng-click="setSlide(2)">Next</button>
			<div class="clearfix"></div>
		</div>
		<div class="well" ng-show="slide == 2">2<br/>
			<button class="btn pull-left" ng-click="setSlide(1)">Back</button>
			<button class="btn pull-right" ng-click="setSlide(3)">Next</button>
			<div class="clearfix"></div>
		</div>
		<div class="well" ng-show="slide == 3">3<br/>
			<button class="btn pull-left" ng-click="setSlide(2)">Back</button>
			<div class="clearfix"></div>
		</div>
	</div>

	

</body>
</html>