<!doctype html>
<html ng-app="Zipcar">
<head>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<link href="css/bootstrap.min.css" rel="stylesheet"></link>

	<script type="text/javascript" src="js/jquery-1.9.0.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
</head>
<body>

	<h2><center>Game<b>Pool</b></center></h2>

	<div ng-controller="PostCtrl" class="well">
		<h4>Post new game</h4>
		<input type="text" name="newGameName" ng-model="newGame.name"></input>
		<br/><br/>Upload image<input type="file" name="newGameImage" class="btn btn-primary"></input>
		<hr/><button ng-click="">Post</button>
	</div>
	<br/>

	<div ng-controller="GetCtrl">
		<h4>Games available near me</h4>
		Search Filter <input type="text" ng-model="getQuery" ></input>
		<br/><br/>
		<div class="row">
			<div ng-repeat="game in games | filter: getQuery | orderBy : distance">
				<div class="col-md-4">
					<div class="thumbnail">
						<img ng-src="{{game.image}}" width="80" height="120" />
						<div class="caption">
							<h5>{{game.name}}</h5>
							<p>({{game.distance}} miles away) Posted 2 days ago</p>
							<p>
								<button class="btn btn-default">Contact {{game.owner}}</button>
							</p>
						</div>
				    </div>
				</div>
			</div>
		</div>
	</div>

	

	<hr/>
	<!-- div ng-controller="NavCtrl" class="well">
		
		Slide: {{slide}}
		<br/>
		<div class="well" ng-show="slide == 1">
			1<br/>
			<button class="btn pull-right" ng-click="setSlide(2)">Next</button>
			<div class="clearfix"></div>
		</div>
		<div class="well" ng-show="slide == 2">2<br/>
			<button class="btn pull-left" ng-click="setSlide(1)">Back</button>
			<button class="btn pull-right" ng-click="setSlide(3)">Next</button>
			<div class="clearfix"></div>
		</div>
		<div class="well" ng-show="slide == 3">3<br/>
			<button class="btn pull-left" ng-click="setSlide(2)">Back</button>
			<div class="clearfix"></div>
		</div>
	</div -->

	

</body>
</html>